services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: {{ cookiecutter.project_slug }}_db
      POSTGRES_USER: {{ cookiecutter.project_slug }}_user
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ cookiecutter.project_slug }}_user -d {{ cookiecutter.project_slug }}_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - APP_PROFILE=local
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME={{ cookiecutter.project_slug }}_db
      - DB_USER={{ cookiecutter.project_slug }}_user
      - DB_PASSWORD=secret
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
